<div class="order">
  <div *ngIf="order">
    <h3>
      <a> Numer zamówienia: {{order.id}} </a><br/>
      <a>Zamówione dania: {{order.dishesIDs}}</a>


      <a> Dane kontaktowe: imię:{{order.addressData.firstName}}
        nazwisko: {{order.addressData.lastName}}
        numer telefonu: {{order.addressData.phoneNumber}}
        email: {{order.addressData.email}}
        ulica: {{order.addressData.street}}
        miasto: {{order.addressData.city}}
        numer domu: {{order.addressData.houseNumber}}
        piętro: {{order.addressData.floor}} </a>

    </h3>


    <br/>
    <a>Aktualny status zamówienia: {{order.status}}</a><br/>
    <a> Cena zamówienia {{ orderService.getTotalCost()| currency:' '}} zł </a>

    <button (click)="changeStatus(order)"> Zmień status</button>
    <a routerLink="/order-list"> Wróć </a>
    <button (click)="removeOrder(order.id)">USUŃ</button>
  </div>


</div>
