<div class="menu">
  <h2>MENU</h2>
  <div class="buttons">
    <button (click)="ngOnInit()">WSZYSTKO</button>
    <button (click)="ngSelect('pizza')">PIZZA</button>
    <button (click)="ngSelect('spagetti')">MAKARONY</button>
    <button (click)="ngSelect('drink')">NAPOJE</button>
    <button (click)="ngSelect('other')">INNE</button>
  </div>


  <div *ngFor="let dish of dishes">
    <h3>
      <span> {{dish.name}}  </span>
      <span>Cena: {{dish.price | currency:' '}} zł </span>
      <button (click)="addToCart(dish)"> Zamów</button>
      <input type="checkbox"  (change)="changeAvailability(dish)"/>
       <span *ngIf="dish.isAvailable">dostępne</span><span *ngIf="!dish.isAvailable">niedostępne</span>

    </h3>
    <p>{{dish.description}}</p>
  </div>
</div>


