<div class="menu">
  <h2>MENU</h2>
  <div class="buttons">
    <button (click)="ngOnInit()">WSZYSTKO</button>
    <button (click)="select('pizza')">PIZZA</button>
    <button (click)="select('spagetti')">MAKARONY</button>
    <button (click)="select('drink')">NAPOJE</button>
    <button (click)="select('other')">INNE</button>
  </div>


  <div *ngFor="let dish of dishes">
    <div *ngIf="dish.isAvailable">
      <h3>
        <span> {{dish.name}}  </span>
        <span>Cena: {{dish.price | currency:' '}} zł </span>
        <button (click)="addToCart(dish)" > Zamów</button>


      </h3>
      <p>{{dish.description}}</p>
    </div>
  </div>
</div>


