
  <div class="header">
    <div><a routerLink="">
      <span class="name">Herzlich willkommen</span>
    </a></div>


    <div class="header-right">
      <a routerLink="order-list" *ngIf="loginService.checkIsLogged()">Lista zamowien</a>
      <a routerLink="dish-list" *ngIf="loginService.checkIsLogged()">Lista dan</a>
      <a routerLink="login" *ngIf="!loginService.checkIsLogged()">Logowanie</a>
      <a (click)="loginService.logout()" *ngIf="loginService.checkIsLogged()"> Wyloguj </a>

    </div>
  </div>


  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>


