<div class="menu">
  <h2>MENU</h2>
  <div class="buttons">
    <button (click)="ngOnInit()">WSZYSTKO</button>
    <button (click)="select('pizza')">PIZZA</button>
    <button (click)="select('spagetti')">MAKARONY</button>
    <button (click)="select('drink')">NAPOJE</button>
    <button (click)="select('other')">INNE</button>
  </div>


  <div *ngFor="let dish of dishes">

      <h3>
        <span> {{dish.id}}</span>
        <span> {{dish.name}}  </span>
        <span>Cena: {{dish.price | currency:' '}} zł </span>


        <input type="checkbox" [checked]="dish.isAvailable" (change)="changeAvailability(dish)"/>
        <span *ngIf="dish.isAvailable">dostępne</span><span *ngIf="!dish.isAvailable">niedostępne</span>

        <a routerLink="/dish-details/{{dish.id}}" > Więcej informacji </a>

      </h3>
      <p>{{dish.description}}</p>

  </div>
</div>


